.div-general-section1-main {
    padding: 270px 0px;
}

@media (max-width: 767px) {
    .div-general-section1-main {
        padding: 230px 0px;
    }
}

.section1-main {
    background-image: url(/img/Фон2.png);
}