.section2-main {
    background-color: #010632;
}

.div-general-section2-main {
    gap: 25px;
    padding: 32px 0px 63px;
    justify-content: center;
    align-items: start;

    &__text {
        width: 443px;
    }

    &__div-img {
        gap: 35px;
        height: 364px;
        display: block;
        align-items: start;
    }

    &__img2 {
        padding: 0px 0px 0px 200px;
        width: 200px;
    }

    &__img1 {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .div-general-section2-main__img2 {
        padding: 150px 0px 0px;
    }

    .div-general-section2-main__div-img {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .div-general-section2-main {
        gap: 25px;
        padding: 32px 0px 0px;
    }

    .div-general-section2-main__text {
        width: 360px;
    }

    .div-general-section2-main__img1 {
        width: 250px;
    }

    .div-general-section2-main__img2 {
        width: 350px;
        padding: 10px 0px 0px 200px;
    }

    .div-general-section2-main__div-img {
        max-width: 340px;
    }
}

@media (max-width: 767px) {
    .div-general-section2-main__img1 {
        width: 280px;
    }

    .div-general-section2-main__img2 {
        padding: 10px 0px 0px 0px;
        width: 200px;
    }

    .div-general-section2-main__div-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .div-general-section2-main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .div-general-section2-main__text {
        width: 300px;
    }
}