footer {
    background-color: #010632;
    padding: 0px 0px 61px;
}

.footer-img {
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate(0deg);
}

.footer-img:hover {
    transform: rotate(-360deg);
}

.div-general-footer {
    &__text3 {
        width: 401px;
    }

    &__content-text {
        gap: 10px;
    }

    &__content-text>a {
        line-height: 1.3;
    }

    &__content-text-2,
    &__text3 {
        font-size: 20px;
        text-decoration: none;
    }

    &__content {
        display: flex;
    }

    &__content-button1-p {
        display: none;
    }
}

@media (max-width: 767px) {
    .div-general-footer__content-text-2 {
        width: 120px;
    }

    .div-general-footer__text3 {
        width: 250px;
    }

    .div-general-footer__content {
        display: block;
    }

    .div-general-footer__content-button2 {
        display: flex;
        gap: 60px;
    }

    .div-general-footer__content-button1 {
        gap: 20px;
        padding: 30px 0px;
    }

    .div-general-footer__content-button1-p {
        display: block;
    }

    footer {
        padding: 0px;
    }

    .div-general-footer__title {
        width: 320px;
    }
}